#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

binary-install/python-h5py::
	dh_python2
	dh_python3
	dh_numpy
	dh_numpy3

clean::
	$(RM) setuptools-0.6c9-py2.5.egg
	$(RM) h5py_config.pickle
	$(RM) h5py/config.pxi

get-orig-source:
	-uscan --upstream-version 0 --rename
